<h2>Iniciar sesión</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input name="email" type="email" class="form-control" />
    </div>
    <div>
        <label>Contraseña</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Ingresar</button>
</form>

@if (ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}